/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --title-decor-color: #ff0070;
  --title-decor-text: #000028;
  --section-heading-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
}

.page {
  background-image: var(--bg-image);
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}

.header__rec {
  position: absolute;
  font-size: 18px;
  top: 10px;
  right: 19px;
  color: var(--accent-color);
  line-height: 25px;
  display: flex;
  align-items: center;
}

.theme-dark .decorated-zone::before,
.theme-dark .decorated-zone::after {
  border-color: var(--accent-color);
}

.theme-dark .header__theme-menu-button {
  color: var(--accent-color);
}

.theme-dark .header__theme-menu-button:hover {
  border-color: rgba(255, 0, 112, 0.4);
}

.theme-dark .header__theme-menu-button_active {
  border-color: var(--accent-color);
}

.theme-dark .header__theme-menu-button:focus-visible {
  border-bottom-color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --title-color: #db00ff;
    --title-decor-color: #ff0070;
    --title-decor-text: #000028;
    --section-heading-color: #ff0070;
    --bg-image: url(../images/cover-image-dark.png);
  }

  .page {
    background-image: var(--bg-image);
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
  }

  .header__rec {
    display: none;
  }

  .decorated-zone::before,
  .decorated-zone::after {
    border-color: var(--text-color);
  }

  .header__theme-menu-button {
    color: var(--text-color);
  }

  .header__theme-menu-button:hover {
    border-color: rgba(255, 0, 112, 0.4);
  }

  .header__theme-menu-button_active {
    border-color: var(--text-color);
  }

  .header__theme-menu-button:focus-visible {
    border-bottom-color: var(--text-color);
  }
}
