/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --title-decor-color: #ff8dcb;
  --title-decor-text: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --section-heading-color: #353430;
}

.page {
  background-image: var(--bg-image);
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}

theme-light .header__rec {
  display: none;
}

theme-light .decorated-zone::before,
theme-light .decorated-zone::after {
  border-color: var(--text-color);
}

theme-light .header__theme-menu-button {
  color: var(--text-color);
}

theme-light .header__theme-menu-button:hover {
  border-color: rgba(50, 49, 45, 0.4);
}

theme-light .header__theme-menu-button_active {
  border-color: var(--text-color);
}

theme-light .header__theme-menu-button:focus-visible {
  border-bottom-color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --title-decor-color: #ff8dcb;
    --title-decor-text: #353430;
    --section-heading-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
  }

  .page {
    background-image: var(--bg-image);
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
  }

  .page .header__rec {
    display: none;
  }

  .decorated-zone::before,
  .decorated-zone::after {
    border-color: var(--text-color);
  }

  .header__theme-menu-button {
    color: var(--text-color);
  }

  .header__theme-menu-button:hover {
    border-color: rgba(50, 49, 45, 0.4);
  }

  .header__theme-menu-button_active {
    border-color: var(--text-color);
  }

  .header__theme-menu-button:focus-visible {
    border-bottom-color: var(--text-color);
  }
}
